$primary-color: #0052cc;
$primary-variant: #30c5ff;

$secondary-color: #ffbe0b;
$secondary-variant: #fcfc81;

$white-color: #fff;
$light-color: rgba(#fff, 0.7);
$black-color: #0c031b;
$dark-color: rgba($black-color, 0.7);
$success-color: #25d366;

$container-lg: 80%;
$container-md: 90%;
