$primary-color: #048243;
$primary-variant: #32bf84;

$tertiary-color: #ed0dd9;

$tertiary-accent: #c1c6fc;

$secondary-color: #ffab0f;
$secondary-variant: #fcfc81;
$white-color: #fff;
$light-color: rgba(#fff, 0.7);
$black-color: #0c031b;
$dark-color: rgba($black-color, 0.7);
$success-color: #25d366;

$container-lg: 82%;
$container-md: 90%;
